<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Budget Planner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>New Expense</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <!-- <form #addExpense = "ngForm"
              (ngSubmit)="onSubmit(addExpense)"
            > -->
            <ion-item>
              <ion-label position="floating">Expense</ion-label>
              <ion-input id="expense" [(ngModel)]="expense"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Amount</ion-label>
              <ion-input
                id="amount"
                type="number"
                [(ngModel)]="amount"
              ></ion-input>
            </ion-item>
            <div margin-vertical text-right>
              <ion-button (click)="addExpenseRequest()"
                ><ion-icon name="add" slot="start"></ion-icon>Add
                Expense</ion-button
              >
              <ion-button fill="outline" color="danger" (click)="clear()"
                ><ion-icon name="close" slot="start"></ion-icon
                >Clear</ion-button
              >
            </div>
            <!-- </form> -->
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-list>
          <ion-item *ngFor="let expense of expenses" #ival>
            <ion-label>{{ expense.title }}</ion-label>
            <ion-label>{{ expense.ammount }}</ion-label>
            <ion-icon name="trash" (click)="delete(expense)"></ion-icon>
          </ion-item>
          <ion-item >
              <ion-label>Total</ion-label>
              <ion-label>{{ total }}</ion-label>
            </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
